# Only for Docker Deployment

BOT_TOKEN=your_bot_token # Get it from @botfather

API_ID=22587690

API_HASH=c0b27b5a9daaa8990d9db353cf70df1e

SESSION_STRING=5221050210:AAGbr8Veb4hRgiPM4IFLkvMDL1CO6bACKcc # Check Readme to generate sessions

USERBOT_PREFIX=/

SUDO_USERS_ID=682966383 # Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1002226185035

GBAN_LOG_GROUP_ID=-1002226185035

MESSAGE_DUMP_CHAT=-1002226185035

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=your_mongodb_url

ARQ_API_URL=https://arq.hamker.dev # Leave it like this

ARQ_API_KEY=ACJPHV-YPSKTU-TLDQPE-HMYUBU-ARQ # Get it from @ARQRobot

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

PM_PERMIT=1 # fill 0 to disable it
